@import "../../../styles";

.sidebar-menu {
  width: 100%;
  list-style-type: none;
  margin: 10px 0;
  padding: 0;

  li {
    margin: 5px 0;

    a {
      position: relative;
      display: flex;
      align-items: center;
      width: 100%;
      padding-left: 6px;
      height: 35px;
      font-size: 12pt;
      text-decoration: none;
      color: $font-bright;
      transition: all 0.1s ease-in-out;

      ::ng-deep span {
        margin-left: 10px;
      }

      ::ng-deep i {
        width: 25px;
        font-size: 20px;
      }

      &:hover {
        background: $gray-normal;
      }

      &.active {
        font-weight: bold;

        &::before {
          z-index: -10;
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          width: 35px;
          height: 100%;
          background: $color-main;
        }
      }
    }
  }
}
