<div class="login">

  <div class="logo">
    <a href="/">Threads<br>Monitor</a>
  </div>

  <div class="login-panel">

    <form [formGroup]="form" (ngSubmit)="submit()">
      <input type="text" placeholder="Логин" formControlName="username">
      <input type="password" placeholder="Пароль" formControlName="password">

      <button type="submit" class="color">Войти</button>
      <button class="gray" type="reset" (click)="reset()">Сбросить</button>
    </form>

  </div>

</div>

<div class="wrapper">
  <app-loader [centred]="true" [visible]="isLoaderActive"></app-loader>
  <div class="error" [ngClass]="{active: isErrorActive}">
    {{error}}
  </div>
</div>
