<app-modal [title]="'История изменения статуса'" [visible]="isStatusModalVisible"
           (visibleEmitter)="toggleStatusModal()">
  <app-status></app-status>
</app-modal>

<app-modal [title]="'Параметры вычислительного модуля'" [visible]="isSettingModalVisible"
           (visibleEmitter)="toggleSettingModal()">
  <app-setting></app-setting>
</app-modal>

<div class="container-fluid">

  <div class="buffer"></div>

  <div class="row">

    <div class="col">

      <table class="table table-striped">

        <thead>
        <tr class="d-flex">
          <th class="col-1">#</th>
          <th class="col-3">Имя</th>
          <th class="col-2">Адрес</th>
          <th class="col-1 d-flex justify-content-center">Ключ</th>
          <th class="col-1 d-flex justify-content-center">Актив</th>
          <th class="col-1 d-flex justify-content-center">Архив</th>
          <th class="col-3 d-flex justify-content-end"></th>
        </tr>
        </thead>

        <tbody>
        <tr class="d-flex" *ngFor="let calculator of calculatorList">
          <td class="col-1">
            {{calculator.id}}
          </td>
          <td class="col-3">{{calculator.name}}</td>
          <td class="col-2">{{calculator.address}}</td>
          <td class="col-1 d-flex justify-content-center">
            <i class="fa fa-check" *ngIf="calculator.key != null"></i>
            <i class="fa fa-close" *ngIf="calculator.key == null"></i>
          </td>
          <td class="col-1 d-flex justify-content-center">
            <i class="fa fa-check big colored" *ngIf="calculator.active"></i>
            <i class="fa fa-bolt big alert" *ngIf="!calculator.active && !calculator.archive"></i>
            <i class="fa fa-close" *ngIf="!calculator.active && calculator.archive"></i>
          </td>
          <td class="col-1 d-flex justify-content-center">
            <i class="fa fa-check" *ngIf="calculator.archive"></i>
          </td>
          <td class="col-3 d-flex justify-content-end">
            <app-loader [center]="false" [gray]="false" [small]="true" [visible]="calculator.loader"></app-loader>
            <button title="Отправить ключ" class="button-icon" (click)="sendKey(calculator)" *ngIf="calculator.key == null">
              <i class="fa fa-key"></i>
            </button>
            <button title="Изменить настройки" class="button-icon" (click)="setting(calculator)">
              <i class="fa fa-cog"></i>
            </button>
            <button title="Состояния" class="button-icon" (click)="status(calculator)">
              <i class="fa fa-signal"></i>
            </button>
            <button title="Удалить калькулятор" class="btn-alert button-icon" (click)="deleteCalculator(calculator)">
              <i class="fa fa-trash"></i>
            </button>
          </td>
        </tr>
        </tbody>

      </table>

    </div>

  </div>

</div>
