<div class="header row">

  <div class="col-6 left">
    <div class="hamburger" [ngClass]="{active: isSidebarActive}" (click)="toogleSidebar()">
      <span class="line"></span>
      <span class="line"></span>
      <span class="line"></span>
    </div>

    <div class="logo">
      <a href="/">Threads Monitor</a>
    </div>
  </div>

  <div class="col center">

  </div>

  <div class="col right">
    <button (click)="logout()">Выйти</button>
  </div>

</div>

<div class="wrapper" [ngClass]="{active: isSidebarActive}">

  <div class="sidebar">
    <app-menu></app-menu>
  </div>

  <div class="content">
    <router-outlet></router-outlet>
  </div>

</div>
