@import "../../styles-variables";

.header {
  z-index: 100;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: $header-height;
  padding: 0 !important;
  margin: 0 !important;
  background: $gray-bright;
  box-shadow: 0 0 5px 2px $gray-normal;
  transition: all 0.5s ease-in-out 0.1s;

  > * {
    display: flex;
    align-items: center;

    &.left {
      justify-content: flex-start;
    }

    &.center {
      justify-content: center;
    }

    &.right {
      justify-content: flex-end;
    }
  }

  .hamburger {

    .line {
      width: 35px;
      height: 6px;
      background: $gray-normal;
      box-shadow: 1px 1px 3px 0 $gray-dark;
      display: block;
      margin: 7px 0px 7px -7px;
      transition: all 0.3s ease-in-out 0.4s, background 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
    }

    &:hover {
      cursor: pointer;

      .line {
        background: $color-main;
        box-shadow: none;
      }
    }

    &.active {

      .line:nth-child(2) {
        opacity: 0;
      }

      .line:nth-child(1),
      .line:nth-child(3) {
        width: 20px;
      }

      .line:nth-child(1) {
        transform: translateX(7px) translateY(8px) rotate(-45deg);
      }

      .line:nth-child(3) {
        transform: translateX(7px) translateY(-8px) rotate(45deg);
      }
    }
  }

  .logo {
    margin: 0 20px;
    text-shadow: 0 0 5px $gray-normal;

    a {
      font-family: 'Audiowide', cursive;
      font-size: 28pt;
      color: $color-main;
      text-decoration: none;

      &:hover {
        color: $color-main;
      }
    }
  }

  .messages {
    display: flex;

    .item {
      position: relative;
      margin: 0 10px;
    }

    .number {
      position: absolute;
      top: 0;
      right: 0;
      width: 23px;
      height: 23px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 15px;
      background: $gray-dark;
      transform: translate(25%, -10%);
      color: $font-bright;

      &.colored {
        background: $color-main;
      }
    }

    i {
      color: $gray-normal;
      font-size: 25pt;
    }
  }
}

.sidebar {
  z-index: 100;
  overflow: hidden;
  position: fixed;
  top: $header-height;
  left: 0;
  width: $sidebar-width;
  height: calc(100vh - #{$header-height});
  background: $gray-dark;
}

.content {
  position: relative;
  z-index: 100;
  height: calc(100vh - #{$header-height});
  margin-top: $header-height;
  overflow-y: auto;
  overflow-x: hidden;
}
