<app-modal [title]="'Добавление пользователя'" [visible]="isUserModalVisible"
           (visibleEmitter)="toggleUserModal()">
  <app-form-user [user]="user" (emitter)="closeUserModal()"></app-form-user>
</app-modal>

<div class="container-fluid">

  <div class="buffer"></div>

  <div class="row">
    <div class="col">
      <button class="" (click)="add()"><i class="fa fa-plus"></i><span>Добавить</span></button>
    </div>
  </div>

  <div class="buffer"></div>

  <div class="row">

    <div class="col">

      <table class="table table-striped">

        <thead>
        <tr class="d-flex">
          <th class="col-1">#</th>
          <th class="col-sm-4 col-lg-4">Логин</th>
          <th class="col-sm-4 col-lg-5">Роль</th>
          <th class="col-sm-3 col-lg-2"></th>
        </tr>
        </thead>

        <div *ngIf="userList.length===0" class="d-flex justify-content-center">
          <br>Список пуст<br>
        </div>

        <tbody>
        <tr class="d-flex" *ngFor="let user of userList; trackBy: track">
          <td class="col-1">{{user.id}}</td>
          <td class="col-sm-4 col-lg-4">{{user.username}}</td>
          <td class="col-sm-4 col-lg-5">{{roles[user.role]}}</td>
          <td class="col-sm-3 col-lg-2 d-flex justify-content-end">
            <button title="Изменить" class="button-icon without-vertical-margin" (click)="edit(user)">
              <i class="fas fa-edit"></i>
            </button>
            <button title="Удалить" class="btn-alert button-icon without-vertical-margin" (click)="delete(user)">
              <i class="fas fa-trash"></i>
            </button>
          </td>
        </tr>
        </tbody>

      </table>

    </div>

  </div>

</div>
