<div id="navigation" class="panel on-map">
  <button class="button-icon" (click)="showAddGeometryModal()"><i class="fa fa-plus"></i></button>
  <button class="button-icon" (click)="showGeometryListModal()"><i class="fa fa-list"></i></button>
  <button class="button-icon" (click)="fitBounds()"><i class="fa fa-arrows"></i></button>
  <button class="button-icon" (click)="refreshMap()"><i class="fa fa-eraser"></i></button>
  <button class="button-icon" (click)="showClient()"><i class="fa fa-location-arrow"></i></button>
</div>
