@import "../../../../styles";

#navigation-panel {
  margin: 10px;
  padding: 5px 0;
  cursor: auto;
}

.on-map {
  z-index: 1000;
  position: absolute;
  background-color: white;
  border: 2px solid rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.button-icon {
  width: 34px;
  height: 34px;
  margin: 0 5px;
  box-shadow: none;
  display: flex;
  align-items: center;
  justify-content: center;
  float: left;
  font-size: 18pt;
}
