@import "styles-variables";
@import "styles-loader";
@import "styles-form";
@import "styles-common";

body, html {
  font-family: 'Arimo', sans-serif;
  color: $font-dark;
}

.buffer {
  height: 20px;
}


/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: $color-main;
}
