// colors
$font-dark: #666666;
$font-bright: #FFFFFF;

$gray-black: #555555;
$gray-dark: #888888;
$gray-normal: #C4C4C4;
$gray-bright: #F1F1F1;

$color-main: #64AD93;
$color-alert: #ED0000;

// other properties
$header-height: 50px;
$sidebar-width: 220px;
