@import "styles-variables";

.loader-container {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
}

.loader {
  width: 80px;
  height: 80px;

  &.gray {
    background: $gray-bright;
    border-radius: 100px;
    box-shadow: 0 0 5px 2px $gray-normal;
  }

  &.center {
    z-index: 1000;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 80px;
    height: 80px;
    transform: translate(-50%, -50%);
  }

  &.small {
    width: 40px;
    height: 40px;
  }

  .spinner {
    height: 100%;
    width: 100%;
    animation: rotate 2s linear infinite;
    transform-origin: center center;
    margin: auto;

    .path {
      stroke-dasharray: 1, 200;
      stroke-dashoffset: 0;
      animation: dash 1.5s ease-in-out infinite;
      stroke-linecap: round;
      stroke: $color-main;
    }
  }
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes dash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -35px;
  }
  100% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -124px;
  }
}
