@import "styles-variables";

textarea, input[type="text"], input[type="password"], .form-select {
  outline: none;
  border: 1px solid $gray-normal;
  border-radius: 0;
  color: $font-dark;
}

button {
  display: flex;
  align-items: center;
  justify-content: center;
  background: $gray-normal;
  outline: none;
  border: 0;
  box-shadow: 1px 1px 3px 0 $gray-dark;
  font-size: 12pt;
  color: $font-bright;
  cursor: pointer;
  transition: all 0.2s ease-in-out;

  &.button-icon {
    width: 34px;
    height: 34px;
    margin: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18pt;

    &.big-text {
      width: auto;
      height: 40px;
      font-size: 24pt;

      span {
        margin-left: 7px;
        font-size: 13pt;
      }
    }

    &.text {
      width: auto;
      height: 34px;
      font-size: 20pt;

      span {
        margin-left: 7px;
        font-size: 13pt;
      }
    }
  }

  &:hover {
    background: $color-main;
    box-shadow: none;

    &.btn-alert {
      background: $color-alert;
    }
  }

  &.gray {
    background: $gray-dark;
  }

  &.color {
    background: $color-main;
  }
}

form.form {

  label {
    margin: 7px 0 0;
  }

  textarea, input, button {
    width: 100%;
    margin: 7px 0;
    padding: 3px 10px;
    font-size: 14pt;
  }

  input, button {
    height: 40px;
  }

  textarea {
    height: 300px;
  }

  /* Custom Select */
  .form-select {
    position: relative;
    width: 100%;
    height: 40px;
    margin: 14px 0;
    display: block;
    overflow: hidden;

    &::after {
      content: '\25BC';
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 40px;
      top: 0;
      right: 0;
      bottom: 0;
      padding: 0 1em;
      color: $font-bright;
      background: $color-main;
      pointer-events: none;

      &:hover {
        color: #9AB999;
      }
    }

    select {
      width: 100%;
      height: 100%;
      margin: 0;
      padding: 0 10px;
      border: 0;
      cursor: pointer;
    }
  }

}
