@import "../../../styles-variables";

.edit {
  cursor: pointer;
  &:hover {
    color: $color-main;
  }
}

.edited {
  padding: 5px;
}

.big {
  font-size: 200%;

  &.colored {
    color: $color-main;
  }

  &.alert {
    color: $color-alert;
  }
}
