<app-modal [title]="'Импорт GeoJSON'" [(visible)]="isGeometryModalVisible" (visibleEmitter)="toggleGeometryModal()">
  <app-form-geometry (geometryEmitter)="addGeometry($event)"></app-form-geometry>
</app-modal>

<app-modal [title]="'Список геоданных'" [(visible)]="isGeometryListModalVisible" (visibleEmitter)="toggleGeometryListModal()">
  <app-geometry-list [geometryList]="geometryArray" (geometryListEmitter)="geometryList($event)"></app-geometry-list>
</app-modal>

<div id="map">
  <app-navigation (navigationEmitter)="navigation($event)"></app-navigation>
</div>
