@import "../../../styles-variables";

.big {
  font-size: 200%;
  margin: 0;
  padding: 0;

  &.colored {
    color: $color-main;
  }

  &.alert {
    color: $color-alert;
  }
}

.edit {
  cursor: pointer;
  &:hover {
    color: $color-main;
  }
}

.edited {
  padding: 5px;
}
